* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: hsl(267, 75%, 81%);
  --clr-secondary: #1e1e2e;
}
body {
  background-color: var(--clr-primary);
}
.container {
  width: min(90%, 500px);
  margin-inline: auto;
  padding-top: 10rem;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*min-height: 100dvh;*/
}
.board {
  width: max(300px, 100%);
  aspect-ratio: 3/2;
  display: grid;
  grid-template-columns: repeat(15, minmax(20px, 1fr));
  grid-template-rows: repeat(10, minmax(20px, 1fr));
  border: 4px solid var(--clr-secondary);
  margin-inline: auto;
  position: relative;
  padding: 4px;
}

.board div:not(.menu) {
  aspect-ratio: 1/1;
}

.snake {
  background-color: var(--clr-secondary);
  border-radius: 6px;
}

.fruit {
  background-color: red;
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
}

.score-wrapper * {
  font-size: 1.5rem;
}

.menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.menu .title,
.menu .blinking-text {
  text-align: center;
}

.blinking-text {
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button-container {
  display: grid;
  width: 50%;
  margin-inline: auto;
  margin-block-start: 4rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.button {
  aspect-ratio: 1;
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-primary);
}

.button img {
  line-height: 0;
  width: 48px;
}

.btn-up {
  grid-column: 2/3;
  grid-row: 1/2;
}

.btn-down {
  grid-column: 2/3;
  grid-row: 2/3;
}

.btn-right {
  grid-column: 3/4;
  grid-row: 2/3;
}

.btn-left {
  grid-row: 2/3;
}

.invisible {
  display: none;
}

.transparent .snake,
.transparent .fruit {
  opacity: 0.2;
}

@keyframes blink {
  to {
    transform: scale(1.2);
  }
}
